<p>Ross has been involved with open source as a user and later as a
developer since the mid 1990's.Today his focus is on building
environments in which companies that might compete in the marketplace
can collaborate on software components. Ross has a deep history with
the Apache Software Foundation, first becoming active there in 2001.
Today he does less programming than he would like to, spending most of
his time helping build vibrant communities and healthy business engagements
within those communities.</p>
