---
layout: homepage
title: Outercurve Foundation

---
{% include JB/setup %}
<div class="row">
  <div class="col-md-6 alt-gutter">
    <div class="homepage-block welcome-block">

      <div class="welcome-title">Welcome to Outercurve!</div>
      <p>Outercurve Foundation provides the operational and back office support
      to allow developers to focus on writing great code</p>
    </div>
    <div class="homepage-block twitter-block">
      <a class="twitter-timeline"  href="https://twitter.com/Outercurve" data-theme="light"
        data-widget-id="281241409456046080">Tweets by @Outercurve</a>
    <script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>
    </div>
  </div>
  <div class="col-md-6 alt-gutter">
    <div class="homepage-block calltoaction-block">
     <div>
       <span><i class="the-icons icon-rocket"></i></span><br>
       <span>Launch a New project</span><br>




      </div>
      <div>
          <i class="the-icons icon-layout_radial"></i><br>
          <span>Join a Project</span>
      </div>



    </div>

    <div class="homepage-block news-block">
        <div class="header"><i class="li-icon icon-newspaper"></i></div>
        {% assign newsposts = site.posts | where: 'category', 'news' %}

        {% for post in newsposts %}
        <h4>{{post.title}}</h4>
        {% if post.subtitle %}{{post.subtitle}}{% endif %}
        {{post.date | date_to_long_string}} | <a href="{{post.url}}">Read More</a>
        {% endfor %}

    </div>
  </div>
</div>
