---
title: Outercurve Blogs
---


{% for post in site.posts limit: 20  %}
        <div>
        <h4>{{post.title}}</h4>
        {% if post.subtitle %}{{post.subtitle}}{% endif %}
        {% if post.excerpt %}<p>{{post.content | strip_html | truncatewords: 50}}</p>{% endif %}
        {{post.date | date: "%B %e, %Y" }} | <a href="{{post.url}}">Read More</a>
        </div>
{% endfor %}

{% assign blogs  = site.pages | where: "layout", "blog-archive"%}

{% for ourblog in blogs %}
<p><a href="{{ourblog.url}}">{{ourblog.title}}</a></p>
{% endfor %}