<div>
    <div class="calltoaction_header">
        <div>
        <i class="the-icons icon-rocket"></i>
            </div>
        <div><span><a href="">Launch a new project</a></span></div>
    </div>
    <p>Something more, go us, yay!</p>
</div>
<div>
    
  <div class="calltoaction_header">
      <div><i class="the-icons icon-layout_radial"></i></div>
      <div><span><a href="{{BASE_PATH}}/participate/contribute.html">Join a project</a></span></div>
      </div>
    <p>Join a project</p>
</div>
